* {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #292929;
    color: white;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

main {
    margin-top: 20px;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
}


/* .container {
    background-color: blue;
} */

.forms {
    display: grid;
    grid-template-areas: "a1 a1 a1 a1 a1 a1" "a2 a2 a3 a3 a4 a4";
    justify-content: center;
}


/*grid areas*/

.item01 {
    grid-area: a1;
}

.item02 {
    grid-area: a2;
}

.item03 {
    grid-area: a3;
}

.item04 {
    grid-area: a4;
}


/*end grid-areas*/

.formContent {
    margin-right: 20px;
    margin-top: 10px;
}

.formsLabel {
    font-size: 20px;
}

input {
    background-color: rgba(250, 250, 250, 0.9);
    height: 25px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    background-image: linear-gradient(to bottom right, beige, #c2c094);
    color: black;
    width: 150px;
    border-radius: 10px;
    border: none;
    height: 25px;
}


/* #addProcess {
    background-image: linear-gradient(to bottom right, beige, #c2c094);
    color: black;
    width: 150px;
    border-radius: 10px;
    border: none;
    height: 25px;
} */

#run {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#process {
    margin-top: 20px;
}

#graphic {
    margin-top: 40px;
}

#screen {
    background-color: beige;
}

#data {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer {
    background-color: #0a0908;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}